<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h1>Good Morning</h1>
    <h2>automatic</h2>
    <form action=" " method="post">
        wake up time:
        <input type="text" name="time" ><br>
        <input type="submit">
    </form>
    <h2>Manual</h2>
        <h4>light</h4>
            <form action="" method="post">
            <input type="submit" name="on" value="on"/>
            <input type="submit" name="off" value="off"/>
        </form>
        <h4>music</h4>
            <form action="" method="post">
            <input type="submit" name="play" value="play"/>
            <input type="submit" name="stop" value="stop"/>
            </form>
</body>
</html>