<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<p>{{ r }}</p>
    <h1>Good Night</h1>
        <h4>light</h4>
            <form action="" method="post">{% csrf_token %}
            <input type="submit" name="on" value="on"/>
            <input type="submit" name="off" value="off"/>
        </form>
        <h4>curtain</h4>
            <form action="" method="post">{% csrf_token %}
            <input type="submit" name="open" value="open"/>
            <input type="submit" name="close" value="close"/>
            </form>
    <link><a href="/"><p>Go back</p></a></link>
</body>
</html>